<div class="col-md-12 col-lg-4">
  <div class="card">
    <div class="card-header card-primary card-inverse">
      <span class="card-title"><i class="fas fa-credit-card"></i>&nbsp;&nbsp;Príjmy a výdavky</span>
    </div>
    <div class="card-block row">
        <div class="col-lg-12">
              <ul class="list-group">
                <li *ngFor="let payment of payments" class="list-group-item list-group-item-heading d-flex justify-content-between lh-condensed">
                  <div [ngClass]="(payment.income)?'text-success':'text-danger'">
                    <h6 class="my-0">{{payment.category.value}}</h6>
                    <small class="text-muted">
                      {{payment.user.userName}} ({{payment.account.type.value}} - {{payment.account.description}})
                    </small>

                  </div>
                  <span class="text-muted" [ngClass]="(payment.income)?'text-success':'text-danger'">
                    <b><span *ngIf="!payment.income">-</span>{{payment.amount}}&euro;</b>
                  </span>
                </li>
              </ul>
        </div>
    </div>
  </div>
</div>
